<div class="ui sidebar inverted vertical menu">
    <a class="item">
      1
    </a>
    <a class="item">
      2
    </a>
    <a class="item">
      3
    </a>
  </div>
  <div class="pusher">
       <h1>Menu</h1>
      
        <div class="ui pointing menu">
              <a class="item " id = "menu">
                  <i class="content icon"></i>

  </a>
  <a class="item active">
    Home
  </a>
  <a class="item">
    Messages
  </a>
  <a class="item">
    Friends
  </a>
  <div class="right menu">
    <div class="item">
      <div class="ui transparent icon input">
        <input type="text" placeholder="Search...">
        <i class="search link icon"></i>
      </div>
    </div>
  </div>
</div>
<div class="ui segment">
  <p><h1>Accordian</h1>
        <div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    What is a dog?
  </div>
  <div class="content">
    <p class="transition hidden">A dog is a type of domesticated animal. Known for its loyalty and faithfulness, it can be found as a welcome guest in many households across the world.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What kinds of dogs are there?
  </div>
  <div class="content">
    <p class="transition hidden">There are many breeds of dogs. Each breed varies in size and temperament. Owners often select a breed of dog that they find to be compatible with their own lifestyle and desires from a companion.</p>
  </div>
  <div class="title active">
    <i class="dropdown icon"></i>
    How do you acquire a dog?
  </div>
  <div class="content active">
    <p class="transition visible">Three common ways for a prospective owner to acquire a dog is from pet shops, private owners, or shelters.</p>
    <p class="transition visible">A pet shop may be the most convenient way to buy a dog. Buying a dog from a private owner allows you to assess the pedigree and upbringing of your dog before choosing to take it home. Lastly, finding your dog from a shelter, helps give a good home to a dog who may not find one so readily.</p>
  </div>
</div>
    
</div>

<div class="ui four cards">
  <div class="ui card">
    <div class="image">
      <div class="ui blurring inverted dimmer">
        <div class="content">
          <div class="center">
            <div class="ui teal button">Add Friend</div>
          </div>
        </div>
      </div>
      <img src="images/totoro-horizontal.jpg">
    </div>
    <div class="content">
      <div class="header"> Neighbor Totoro</div>
      <div class="meta">
        <a class="group">Meta</a>
      </div>
      <div class="description">One or two sentence description that may go to several lines</div>
    </div>
    <div class="extra content">
      <a class="right floated created">Arbitrary</a>
      <a class="friends">
        Arbitrary</a>
    </div>
  </div>
  <div class="ui card">
    <div class="blurring dimmable image">
      <div class="ui dimmer">
        <div class="content">
          <div class="center">
            <div class="ui inverted button">Call to Action</div>
          </div>
        </div>
      </div>
      <img src="images/watchmen-horizontal.jpg">
    </div>
    <div class="content">
      <a class="header">Watchman</a>
      <div class="meta">
        <span class="date">Date</span>
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="users icon"></i>
        Users
      </a>
    </div>
  </div>
    
    <script>
        $('.ui.accordion')
            .accordion();
        
        $('#menu').click(function() {
            $('.ui.sidebar')
                .sidebar('toggle');
        })

        </script>