<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
		
		<title>로그인</title>
		
		<link href="../public/semantic.min.css" rel="stylesheet" >

        <script src = "../public/jquery-2.1.4.min.js"></script>
        <script src = "../public/semantic.min.js"></script>
        
		<style>
		 body {
    background: #DADADA;
    background-size: cover;
    padding: 1rem;
    margin: 0;

  }
            #content{ 
                position:absolute;
  top:0;right:0;bottom:0;left:0;
  display:-webkit-box;
  display:-moz-box;
  display:-ms-flexbox;
  display:-webkit-flex;
  display:flex;

  align-items:center;
  justify-content:center;
  -webkit-align-items:center;
  -webkit-justify-content:center;

  -webkit-box-pack:center;
  -webkit-box-align:center;
  -moz-box-pack:center;
  -moz-box-align:center;
  -ms-box-pack:center;
  -ms-box-align:center;

}
            
  .form-holder {
    background: rgba(255,255,255,0.2);
    margin-top: 100%;
    padding-top : 100px;
    border-radius: 3px;
  }
            body > .grid {
      height: 100%;
    }
    .image {
      margin-top: 100px;
    }
    .column {
      max-width: 450px;
    }
			
		</style>
		
		<script src="./jquery-3.1.1.min.js"></script>
		<script src="./semantic.min.js"></script>
		<script>
			$(function() {
				$('.ui.checkbox').checkbox();
			});
		</script>